best_model.keras
Augmented_Refined_Hybrid_Dataset1
Augmented_Refined_Hybrid_Dataset2
Refined_Hybrid_Dataset
stargan
StarGAN_dataset
Student_live_captures
Augmented_Refined_Hybrid_Dataset.zip
best_model.h5
custom_model_.h5
custom_model_30epoch.keras
custom_model_40epochv2.keras
custom_model_50epochv2.keras
SHA-256 + Augmented model eval.docx